
h4{
    display: block;
    background-color: hotpink;
    border: 2px outset black;
    text-decoration: dotted ;
    
}
h1{
    background-color: #0ebcd3;
    border: 4px outset black;
}
h3{
    background-color: #0ebcd3;
    border: 4px outset black;
}
.row{
  display:inline-flex;
  height : 300px;
  width: 100%;
}
.left, .right {
    margin: 10px;
    width: 25%;
  }
  .middle {
    border: black;
    width: 50%;
  }
  .row:after {
    content:"";
    display: table;
    clear:both;
  }